{% extends "@Annonce/Default/layout.html.twig" %}
{% block content %}

    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Locations</li>
                <li class="breadcrumb-item active"><a href="{{ path('Location') }}">Points de Relais</a></li>
                <li class="breadcrumb-item active"><a href="{{ path('Ajouter_PTR/') }}">Ajouter</a></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">

                <a href="{{ path('Ajouter_PTR/') }}"  type="button" class="btn btn-info "><i class="fa fa-plus-circle"></i> Ajouter</a>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modifier Votre Points Relais</h4>
                    <form method="post"  enctype="multipart/form-data">
                        {{ form_start(form) }}

                        <div class="form-group ">
                            <label for="desc"  class="control-label">Nom</label>
                            <input value="{{velo.nom}}" type="text" class="form-control"  id="nom" rows="4" name="nom" minlength="4" maxlength="300" required >
                        </div>

                        <h4>Votre Coordonnées : {{velo.coordonnees}}</h4>
                        <div class="form-group ">
                            <label for="num"  class="control-label">Longitude</label>
                            <input class="form-control"   type="number" id="longitude" name="longitude" min="10000000" max="99999999" required>
                        </div>
                        <div class="form-group ">
                            <label for="num"  class="control-label">Latitude</label>
                            <input class="form-control"   type="number" id="latitude" name="latitude" min="10000000" max="99999999" required>
                        </div>





                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Modifier</button>
                            <a type="button" class="btn btn-secondary" href="{{ path('Location') }}">Annuler</a>
                        </div>
                        {{ form_end (form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}