{% extends "@Annonce/FAnnonces/layouts.html.twig" %}
{% block content %}
    <hr style="  width: 100% ; display: block; height: 1px; border: 0;border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
    <a href="{{ path('Annonces_allEchanges') }}" style="display: inline-block ;width: 100%; ">Back</a>
    <hr style=" width: 100% ;  display: block; height: 1px; border: 0;border-top: 1px solid #ccc; margin: 1em 0; padding: 0;"/>
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <div class="col-md-4 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">

                        <ul class="slides">
                            <li data-thumb="images/d2.jpg">
                                <div class="thumb-image"> <img   src="{{ asset('uploads/Annonces/')~annonce.photo }}" data-imagezoom="true" class="img-responsive" style="height: 250px;"> </div>
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 single-right-left simpleCart_shelfItem">
                <h3>Vélo pour échange</h3>

                <div class="description">
                    <table style="border-spacing: 20px ;border-collapse: separate">
                        <tr>
                            <h5>
                                <td><strong>Offreur</strong></td>
                                <td><span style="color:Purple">{{ annonce.user.nom }} </span></td>
                            </h5>
                        </tr>
                        <tr>
                            <h5>
                                <td><strong>Num Tel</strong></td>
                                <td><span style="color:Purple">{{ annonce.numtel }} </span></td>
                            </h5>
                            </h5> </tr>
                        <tr>
                            <h5>
                                <td><strong>Gouvernerat</strong></td>
                                <td><span style="color:Purple">{{ annonce.gouvernorat }} </span></td>
                            </h5>
                        </tr>
                        <tr>
                            <h5>
                                <td><strong>Délegatiion</strong></td>
                                <td><span style="color:Purple">{{ annonce.delegation }} </span></td>
                            </h5>
                        </tr>
                        <tr>
                            <h5>
                                <td><strong>Addresse</strong></td>
                                <td><span style="color:Purple">{{ annonce.address }} </span></td>
                            </h5>
                        </tr>
                        <tr>
                            <h5>
                                <td><strong>Mettre à jour le </strong></td>
                                <td><span style="color:Purple">{{ annonce.date|date("m/d/Y") }}  </span>
                                </td>
                            </h5>
                        </tr>
                    </table>
                </div>




            </div>


        </div>
        <div class="clearfix"> </div>
        <!-- /new_arrivals -->
        <div class="responsive_tabs_agileits">
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>


                </ul>
                <div class="resp-tabs-container">
                    <!--/tab_one-->
                    <div class="tab1">

                        <div class="single_page_agile_its_w3ls">
                            <p>{{ annonce.description }}</p>

                        </div>
                    </div>
                    <!--//tab_one-->


                </div>
            </div>
        </div>
        <!-- //new_arrivals -->
        <!--/slider_owl-->

        <div class="w3_agile_latest_arrivals">
            <h3 class="wthree_text_info">Annonces  <span>Reliés</span></h3>

            {% set i = 0 %}
            {% for annonce in annoncesv %}
                {% if(i<4) %}
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="{{ asset('uploads/Annonces/')~annonce.photo }}" height="200px" width="150 px" alt="" class="pro-image-front">
                                <img src="{{ asset('uploads/Annonces/')~annonce.photo }}" alt=""  height="200px" width="150px" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a  href="{{ path('show_annonceE/', { 'id': annonce.annId }) }}" class="link-product-add-cart">Consulter</a>
                                    </div>
                                </div>
                                <span class="product-new-top"> {{ annonce.user.nom }}</span>
                            </div>
                            <div class="item-info-product ">
                                <h4><a >  Vélo à Vendre</a></h4>
                                <div class="info-product-price">
                                    {{ annonce.date|date("m/d/Y") }}
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <a  href="{{ path('show_annonceE/', { 'id': annonce.annId }) }}"><input type="submit" name="submit" value="Consulter" class="button" style="color: white ;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set i=i+1 %}
                {% endif %}
            {% endfor %}
            <div class="clearfix"> </div>
            <!--//slider_owl-->
        </div>
    </div>
    </div>
{% endblock %}