{% extends "@Annonce/Default/layout.html.twig" %}
{% block content %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Point de Locations</li>
                <li class="breadcrumb-item active"><a href="{{ path('Reservations') }}">Réservations</a></li>
            </ol>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">

                <a href="{{ path('Ajouter_Reservation/') }}"  type="button" class="btn btn-info "><i class="fa fa-plus-circle"></i> Ajouter</a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            {% set i = 0 %}
            {% for flash_message in app.session.flashBag.get('success') %}
                {% if(i==0) %}
                    <div class="alert alert-success alert-rounded"> <img src="../uploads/Annonces/bgapp.jpg" width="30" class="img-circle" alt="img">    {{ flash_message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    {% set i=1 %}
                {% endif %}
            {% endfor %}


            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table product-overview" id="myTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Client</th>
                                <th>Matricule Velo</th>
                                <th>Date Reservation</th>
                                <th>Date fin</th>
                                <th>Prix Totale</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for velos in velo %}
                                <tr>
                                    <td>{{ velos.id}}</td>
                                    <td>{{ velos.idUser.nom}}</td>
                                    <td>{{ velos.idVelo.matricule}}</td>
                                    <td>{{ velos.dateLocation|date('Y-m-d')  }}</td>
                                    <td>{{ velos.dateF |date('Y-m-d')  }}</td>
                                    <td>{{ velos.prixlocation}}</td>

                                    <td>
                                        <a href="{{ path('delete_Reservation', { 'id': velos.id }) }}" title="Supprimer" data-toggle="tooltip" onclick="return confirm('Voulez vous supprimer cette vélo ?')" ><i class="ti-trash"></i></a>

                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>


{% endblock %}