{% extends "@Annonce/FAnnonces/layout.html.twig" %}
{% block content %}
    <div class="single-pro">
        {% for annonce in annoncesv %}
        <div class="col-md-3 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="{{ asset('uploads/Annonces/')~annonce.photo }}" height="200px" width="150 px" alt="" class="pro-image-front">
                    <img src="{{ asset('uploads/Annonces/')~annonce.photo }}" alt=""  height="200px" width="150px" class="pro-image-back">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a  href="{{ path('show_annoncev/', { 'id': annonce.annId }) }}" class="link-product-add-cart">Consulter</a>
                        </div>
                    </div>
                    <span class="product-new-top"> {{ annonce.user.nom }}</span>

                </div>
                <div class="item-info-product ">
                    <h4><a >  Vélo à Vendre</a></h4>
                    <div class="info-product-price">
                        <span class="item_price">{{ annonce.prix }} Dt</span>
                      {{ annonce.date|date("m/d/Y") }}
                    </div>
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

                             <a  href="{{ path('show_annoncev/', { 'id': annonce.annId }) }}"><input type="submit" name="submit" value="Consulter" class="button" style="color: white ;" /></a>

                    </div>

                </div>
            </div>

        </div>
        {% endfor %}













        <div class="clearfix"> </div>

    </div>
    <div class="navigation" style="margin-top: 30px; text-align: right;" >
        {{ knp_pagination_render(annoncesv) }}
    </div>
{% endblock %}